.flex{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
  }
  
  .flex > div {
    background-color: #f1f1f1;  
    width: px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 15px;
    border: 10px;
    border-radius: 20px ;
  }

  .LazyLoad is-visible{
    border-radius: 20px;
  }